<div class="row">
    <div class="col-md-6">
        <h1>SSO</h1>
        <div ng-show="signedIn()">
            User : {{user}}
            <br/>
            <a ng-click="logout()">Logout</a>
        </div>
        <div ng-hide="signedIn()">
            <a href="#/login">Login</a>
            <br/>
            <a href="#/register">Signup</a>
        </div>

    </div>
    <div class="col-md-6">
        <h1>Apps</h1>
            <h2><a href="http://slapps.fr/apollo">Apollo</a></h2>
            <h2><a href="http://slapps.fr/poseidon">Poseidon</a></h2>
            <h2><a href="http://slapps.fr/hephaistos">hephaistos</a></h2>
            <h2><a href="http://slapps.fr/athena">Athena</a></h2>
            <h2><a href="http://slapps.fr/demeter">Demeter</a></h2>
    </div>
</div>
